﻿@model HomeViewModel

<div class="row">
    <div class="col-auto">
        <h2>@Model.Title</h2>
        <hr />
        <h5>Personalized Nutrition Plans with Algorithmic Recipes</h5>
    </div>
</div>

<div class="row">
    <div class="col-auto">
        <a class="btn btn-info mx-1" asp-controller="Food" asp-action="Index" role="button">Food</a>
        <a class="btn btn-info mx-1 disabled" asp-controller="Nutrient" asp-action="Index" role="button">Nutrients</a>
        <a class="btn btn-info mx-1 disabled" asp-controller="Recipe" asp-action="Index" role="button">Recipes</a>
    </div>
</div>
