﻿@using System.Globalization
@model FoodViewModel

<div class="row">
    <div class="col-auto">
        <h2>@Model.Title</h2>
        <hr />
        <h5>@Model.Food.Description</h5>
        <a class="btn btn-primary" asp-controller="Food" asp-action="Update" asp-route-id="@Model.Food.FoodId">Update</a>
        <a class="btn btn-primary" asp-controller="Food" asp-action="DeleteFood" asp-route-Food="@Model.Food">Delete</a>
    </div>
</div>

<div class="row">
    <div class="col-auto border rounded ml-2 mt-2">
        <img src="@Model.Food.ImageThumbnailUrl" alt="Food Image" class="rounded mx-auto d-block" style="height: 200px; width: 200px; background-image: url('/images/default.jpg'); background-size: 200px 200px;"/>
    </div>
    <div class="col-sm-8">
        <span class="font-weight-bold">Price</span>: $@Model.Food.Price
        <div class="form-check">
            <input type="checkbox" class="form-check-input ml-1" id="food-isactive" checked="@Model.Food.IsActive" disabled/>
            <label class="form-check-label ml-4">Active</label>
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-sm-3">
        <h4>@Model.NutrientTypes[0].Category.ToString()</h4>
        @for (var i = 0; i < Model.NutrientTypes.Count; i++)
        {
            if (i > 0 && (Model.NutrientTypes[i].Category != Model.NutrientTypes[i - 1].Category))
            {
                @:</div><div class="col-sm-3">
                @:<h4>@Model.NutrientTypes[i].Category.ToString()</h4>
            }
            <span class="font-weight-bold">@Model.NutrientTypes[i].Name</span>@:: @(Model.Food.FoodNutrients.FirstOrDefault(fn => fn.NutrientTypeId == Model.NutrientTypes[i].NutrientTypeId)?.Amount ?? 0) @Model.NutrientTypes[i].Unit<br />
        }
    </div>
</div>