﻿@using System.Globalization
@model FoodViewModel

<div class="row">
    <div class="col-auto">
        <h2>@Model.Title</h2>
        <hr />
        <h5>Click the name of a food item for additional details.</h5>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered big-table" id="food-table">
            <thead class="thead-dark text-light">
                <tr>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Price</th>
                    @foreach (var nutrientType in Model.NutrientTypes)
                    {
                        <th>@nutrientType.Name (@nutrientType.Unit)</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var food in Model.Foods)
                {
                <tr>
                    <td><span class="font-weight-bold"><a asp-controller="Food" asp-action="Details" asp-route-id="@food.FoodId">@food.Name</a></span></td>
                    <td><input type="checkbox" checked="@food.IsActive" disabled/></td>
                    <td>@food.Price</td>
                    @foreach (var nutrientType in Model.NutrientTypes)
                    {
                        <td>
                            @{
                                var nutrient = "N/A";
                                if (food.FoodNutrients != null)
                                {
                                    nutrient = food.FoodNutrients
                                        .FirstOrDefault(n => n.NutrientType.NutrientTypeId == nutrientType.NutrientTypeId)?
                                        .Amount.ToString(CultureInfo.CurrentCulture) ?? "N/A";
                                }
                            }
                            @nutrient
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>