﻿@using System.Globalization
@model FoodViewModel

<div class="row">
    <div class="col-auto">
        <h2>@Model.Title</h2>
        <hr />
        <h5>Add a new food item to the Navii database.</h5>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-12">
        <form asp-action="CreateFood" method="post" role="form">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm" asp-for="Food.Name">Name</label>
                <div class="col-sm-7">
                    <input asp-for="Food.Name" class="form-control form-control-sm" id="food-name" />
                </div>
                <div class="col-sm-3 form-check">
                    <input type="checkbox" asp-for="Food.IsActive" class="form-check-input" id="food-isactive" />
                    <label class="form-check-label" asp-for="Food.IsActive">Active</label>
                </div>
                <span asp-validation-for="Food.IsActive" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm" asp-for="Food.Description">Description</label>
                <div class="col-sm-10">
                    <input asp-for="Food.Description" class="form-control form-control-sm" id="food-description" />
                </div>
                <span asp-validation-for="Food.Description" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm" asp-for="Food.Price">Price</label>
                <div class="col-sm-10 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input asp-for="Food.Price" class="form-control form-control-sm" id="food-price" />
                </div>
                <span asp-validation-for="Food.Price" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm" asp-for="Food.ImageThumbnailUrl">Image URL</label>
                <div class="col-sm-10">
                    <input asp-for="Food.ImageThumbnailUrl" class="form-control form-control-sm" id="food-image-url" />
                </div>
            </div>

            <h4>@Model.NutrientTypes[0].Category.ToString()</h4>
            <div class="form-group row">
                @for (var i = 0; i < Model.NutrientTypes.Count; i++)
                {
                    if (i > 0 && (Model.NutrientTypes[i].Category != Model.NutrientTypes[i - 1].Category))
                    {
                    @:</div>
                    @:<h4>@Model.NutrientTypes[i].Category.ToString()</h4>
                    @:<div class="form-group row">
                    }
                    <label class="col-sm-2 col-form-label col-form-label-sm">@Model.NutrientTypes[i].Name</label>
                    <div class="col-sm-2">
                        <input asp-for="Food.FoodNutrients[i].Amount" class="form-control form-control-sm"
                               id="nutrient-type-@Model.NutrientTypes[i].NutrientTypeId" />
                        <input asp-for="Food.FoodNutrients[i].NutrientTypeId" type="hidden"
                               value="@Model.NutrientTypes[i].NutrientTypeId" class="mr-2" />
                    </div>
                    <div class="col-sm-1">@Model.NutrientTypes[i].Unit</div>
                    <div class="col-sm-1"></div>
                }
            </div>

            <input type="submit" class="btn btn-primary" value="Add Food" />
        </form>
    </div>
</div>
