﻿@using System.Globalization
@model FoodViewModel

<div class="row">
    <div class="col-auto">
        <h2>@Model.Title</h2>
        <hr />
        <h5>Update an existing food item in the Navii database.</h5>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-12">
        <form asp-action="UpdateFood" method="put" role="form">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm" asp-for="Food.Name">Name</label>
                <div class="col-sm-7">
                    <input asp-for="Food.Name" class="form-control form-control-sm" id="food-name" value="@Model.Food.Name" />
                </div>
                <div class="col-sm-3 form-check">
                    <input type="checkbox" asp-for="Food.IsActive" class="form-check-input" id="food-isactive" value="@Model.Food.IsActive" />
                    <label class="form-check-label" asp-for="Food.IsActive">Active</label>
                </div>
                <span asp-validation-for="Food.IsActive" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm" asp-for="Food.Description">Description</label>
                <div class="col-sm-10">
                    <input asp-for="Food.Description" class="form-control form-control-sm" id="food-description" value="@Model.Food.Description" />
                </div>
                <span asp-validation-for="Food.Description" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm" asp-for="Food.Price">Price</label>
                <div class="col-sm-10 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input asp-for="Food.Price" class="form-control form-control-sm" id="food-price" value="@Model.Food.Price" />
                </div>
                <span asp-validation-for="Food.Price" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm" asp-for="Food.ImageThumbnailUrl">Image URL</label>
                <div class="col-sm-10">
                    <input asp-for="Food.ImageThumbnailUrl" class="form-control form-control-sm" id="food-image-url" value="@Model.Food.ImageThumbnailUrl" />
                </div>
            </div>

            <h4>@Model.NutrientTypes[0].Category.ToString()</h4>
            <div class="form-group row">
                @for (var i = 0; i < Model.NutrientTypes.Count; i++)
                {
                    if (i > 0 && (Model.NutrientTypes[i].Category != Model.NutrientTypes[i - 1].Category))
                    {
                    @:</div>
                    @:<h4>@Model.NutrientTypes[i].Category.ToString()</h4>
                    @:<div class="form-group row">
                    }
                    <label class="col-sm-2 col-form-label col-form-label-sm">@Model.NutrientTypes[i].Name</label>
                    <div class="col-sm-2">
                        <input asp-for="Food.FoodNutrients[i].Amount" class="form-control form-control-sm"
                               id="nutrient-type-@Model.NutrientTypes[i].NutrientTypeId"
                               value="@(Model.Food.FoodNutrients.FirstOrDefault(fn => fn.NutrientTypeId == Model.NutrientTypes[i].NutrientTypeId)?.Amount ?? 0)" />
                        <input asp-for="Food.FoodNutrients[i].NutrientTypeId" type="hidden" value="@Model.NutrientTypes[i].NutrientTypeId" />
                    </div>
                    <div class="col-sm-1">@Model.NutrientTypes[i].Unit</div>
                    <div class="col-sm-1"></div>
                }
            </div>

            <button type="submit" class="btn btn-primary mr-1 mb-1"><i class="fas fa-check-circle"></i> Update</button>
        </form>
        <form asp-action="DeleteFood" method="post" role="form">
            <button type="submit" class="btn btn-primary mr-1 mb-1"><i class="fas fa-trash-alt"></i> Delete</button>
        </form>
    </div>
</div>
