﻿html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
    padding-top: 65px;
}

.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.big-table {
    font-size: 0.75rem;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 100%;
}